:root {
  --page-width: 90vw;
  --page-radius: .3rem;
  --header-height: 50px;
  --footer-height: 30px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --sidebar-width: 200px;

  /* COLORS */
  --bg-main: hsl(0, 0%, 11%);
  --bg-header: hsl(0, 0%, 13%);
  --bg-footer: hsl(0, 0%, 13%);
  --bg-sidebar: hsl(0, 0%, 20%);
  --blue: hsl(220, 100%, 66%);
  --yellow: hsl(29, 54%, 61%);
  --green: hsl(95, 38%, 62%);
  --red: hsl(5, 48%, 51%);
  --text-color: hsl(0, 0%, 80%);
  --link-color: var(--blue);
  --link-hover-color: hsl(220, 100%, 68%);
  --border-color: hsl(0, 0%, 52%);
}

[data-theme="light"] {
  --bg-main: hsl(0, 0%, 89%);
  --bg-header: hsl(0, 0%, 83%);
  --bg-footer: hsl(0, 0%, 83%);
  --bg-sidebar: hsl(0, 3%, 80%);
  --blue: hsl(220, 80%, 56%);
  --yellow: hsl(29, 54%, 51%);
  --green: hsl(95, 38%, 52%);
  --red: hsl(5, 48%, 41%);
  --text-color: hsl(0, 0%, 11%);
  --link-color: var(--blue);
  --link-hover-color: hsl(40, 100%, 70%);
  --border-color: hsl(0, 0%, 68%);
}

[data-theme="dark"] {
  --bg-main: hsl(0, 0%, 11%);
  --bg-header: hsl(0, 0%, 13%);
  --bg-footer: hsl(0, 0%, 13%);
  --bg-sidebar: hsl(0, 0%, 20%);
  --blue: hsl(220, 100%, 66%);
  --yellow: hsl(29, 54%, 61%);
  --green: hsl(95, 38%, 62%);
  --red: hsl(5, 48%, 51%);
  --text-color: hsl(0, 0%, 80%);
  --link-color: var(--blue);
  --link-hover-color: hsl(220, 100%, 68%);
  --border-color: hsl(0, 0%, 52%);
}


@font-face {
  font-family: Overpass;
  src: url('/style/fonts/overpass-300.woff2');
}

@font-face {
  font-family: Overpass-Bold;
  src: url('/style/fonts/overpass-600.woff2');
}

@font-face {
  font-family: Fira;
  src: url('/style/fonts/fira-mono-400.woff2');
}

@font-face {
  font-family: ZillaSlab;
  src: url('/style/fonts/ZillaSlab-Light.woff2');
}

/* scrollbar */

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  /* transition: all .5s; */
}

html {
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  margin: 0;
  font-family: 'Overpass', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: var(--page-width);
  margin-inline: auto;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-header);
  position: relative !important;
}

body.small,
body.medium {
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Overpass;
}

h1 {
  font-size: 2rem;
  margin-bottom: 3rem
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 2.625rem
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2.25rem
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1.874rem
}

h5 {
  font-size: 1.125rem;
  margin-bottom: 1.6875rem
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  /* color: var(--link-hover-color); */
  filter: brightness(1.25);
}

nav details {
  cursor: pointer;
}

nav details>summary {
  list-style: none;
}

nav details>summary::-webkit-details-marker {
  display: none;
}

nav ul {
  padding-left: 0;
}

nav h2,
nav h3,
nav h4 {
  margin-bottom: 0;
  border-bottom: 1px solid var(--border-color);
}

li {
  list-style-type: none;
}

/**
 *
 * FORM 
 *
 */
fieldset {
  background-color: var(--bg-main);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

fieldset legend {
  font-size: 1.2rem;
  color: var(--text-color);
}

form ul {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 1rem 1rem;
}

form ul li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 1rem 0 0 0;
}

form ul label {
  font-size: 0.9rem;
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  color: var(--text-color);
  /* font-weight: bold; */
}

form ul input[type='text'],
form ul input[type='password'],
form ul input[type='date'],
form ul input[type='datetime'],
form ul input[type='number'],
form ul input[type='search'],
form ul input[type='time'],
form ul input[type='url'],
form ul input[type='email'],
textarea,
select {
  background-color: var(--bg-sidebar);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 0.3rem;
  padding: 7px;
  margin: 0px;
  outline: none;
}

form ul input[type='text']::placeholder,
form ul input[type='date']::placeholder,
form ul input[type='datetime']::placeholder,
form ul input[type='number']::placeholder,
form ul input[type='search']::placeholder,
form ul input[type='time']::placeholder,
form ul input[type='url']::placeholder,
form ul input[type='email']::placeholder,
textarea::placeholder {
  opacity: 0.5;
  color: var(--text-color);
}

form ul input[type='text']:focus,
form ul input[type='date']:focus,
form ul input[type='datetime']:focus,
form ul input[type='number']:focus,
form ul input[type='search']:focus,
form ul input[type='time']:focus,
form ul input[type='url']:focus,
form ul input[type='email']:focus,
form ul textarea:focus,
form ul select:focus {
  border: 1px solid var(--blue);
}

form ul .third {
  width: calc(100% / 3 - 3px);
}

form ul .half {
  width: calc(100% / 2 - 2px);
}

form ul .quater {
  width: calc(100% / 4 - 4px);
}

form ul .inline {
  display: inline-flex;
}

form ul .inline input[type='checkbox'] {
  margin: 2px 6px 6px;
}


form ul .full {
  width: 100%;
}

form ul textarea {
  width: 100%;
  height: 100px;
}

button,
form ul input[type='submit'],
form ul input[type='button'] {
  background: var(--blue);
  padding: 8px 15px 8px 15px;
  border: 1px solid var(--border-color);
  color: var(--bg-sidebar);
  border-radius: 0.3rem;
  cursor: pointer;
}

button.cancel,
form ul input[type='submit'].cancel,
form ul input[type='button'].cancel {
  background: var(--yellow);
}

button:hover,
form ul input[type='submit']:hover,
form ul input[type='button']:hover {
  filter: brightness(1.25);
  box-shadow: none;
}

form label.required:after {
  content: '*';
  margin-left: .05rem;
  color: var(--red);
}



/* The switch - the box around the slider */
.switch {
  --slider-size: 1rem;
  --slider-width: calc(var(--slider-size) * 1.5);
  position: relative;
  display: inline-block;
  left: 0.5rem;
  top: 0.15rem;
  width: var(--slider-width);
  height: var(--slider-size);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--text-color);
  border-radius: var(--slider-size);
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchSlider:before {
  position: absolute;
  content: '';
  width: calc(var(--slider-size) - 6px);
  height: calc(var(--slider-size) - 6px);
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: var(--text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked+.switchSlider {
  background-color: var(--blue);
}

.switch input:focus+.switchSlider {
  box-shadow: 0 0 1px var(--blue);
}

.switch input:checked+.switchSlider:before {
  -webkit-transform: translateX(calc(var(--slider-width) - var(--slider-size)));
  -ms-transform: translateX(calc(var(--slider-width) - var(--slider-size)));
  transform: translateX(calc(var(--slider-width) - var(--slider-size)));
}